/* Import Fonts */
@import url(/assets/css/font-awesome.min.css);


/* Used for dark/light mode */
::root {
  --bg-color: #292929;
  --text-color: #eeeeee;
  --hover-color: #ff4400;
}

/* Used for scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--link-color);
} 
/* Body */
body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-size: 2.4em;
  font-family: Verdana, "Noto Sans",  sans-serif;
}

h4 {
  margin: 2em auto 0.6em 0;
  border-bottom: solid 2px rgb(130, 130, 130);
  font-size: 2.2em;
  width: 100%;
  text-align: left;
}

/* Paragraphs */
p {
  margin: auto;
  max-width: 70vw;
  font-size: 1.4em;
}

/* Hyperlinks */
a, .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p a {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: solid 2px grey;
}

/* Buttons */
button {
  text-decoration: none;
  transition: 0.4s;
  font-family: 'Raleway', Arial, sans-serif;
  width: auto;
  padding: 0.7em 1.1em 0.7em 1.1em;
  font-size: 1.5em;
}

.color-button {
  border: solid 2px var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 3em;
  transition: background-color 0.6s;
}

.color-button:hover {
  background-color: rgba(175, 175, 175);
}

.clear-button {
  background: linear-gradient(90deg, rgba(225, 225, 225, 0.05), rgba(255, 255, 255, 0.05));
  border: solid 2px rgba(255, 255, 255, 0.2);
}

.clear-button:hover {
  background: linear-gradient(90deg, rgba(175, 175, 175, 0.25), rgba(205, 205, 205, 0.25));
  border: solid 2px rgba(255, 255, 255, 0.2);
}

.wiget-nav-button {
  color: var(--text-color);
  background-color: var(--line-color);
  border: solid 2px var(--link-color);
  margin: 0.2em;
}

.wiget-nav-button:hover {
  border: solid 2px var(--hover-color);
  color: var(--hover-color);
}

/* Nav */
nav {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 8vw;
  height: 100%;
  border-right: solid 2px var(--text-color);
}

.nav-item {
  padding: 1em 0 1em 0;
  font-size: 2.7em;
}

.nav-item a {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.25em;
  border: solid 2px rgba(0, 0, 0, 0);
}

.nav-item a:hover {
  border: solid 2px var(--link-color);
}

.nav-item .home {
  border: solid 2px var(--text-color);
}

.nav-item .home:after {
  font-family: FontAwesome;
  content: '\f015'; 
}

.nav-item .todo:after {
  font-family: FontAwesome;
  content: '\f0cb';
}

.nav-item .calendar:after {
  font-family: FontAwesome;
  content: '\f073';
}


#mode-button {
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: default;
  padding: 1em;
  margin-top: 2.7em;
  border: solid 6px var(--text-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

/* Main */
main {
  position: absolute;
  top: 0;
  left: 8vw;
  padding-left: 2em;
  height: 100%;
  width: 100%;
}

.title {
  top: 0;
  font-size: 3.2em; 
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 5vh;
}

.hidden {
  display: none;
  visibility: none;
  opacity: 0;
  z-index: -1;
  height: 0;
}

/* Todo wiget */
main .todo {
  position: absolute;
  width: 25vw;
  height: 50vh;
}

.todo-nav {
  height: 5vh;
}


.todo-info {
  margin-top: 4vh;
  padding-right: 0.4em;
  border: solid 2px var(--line-color);
  height: 30vh;
  overflow: auto;
}

.todo-info ul li {
  padding-bottom: 1.4em; 
  font-size: 1.15em;
  font-family: Verdana, "Noto Sans",  sans-serif;
  color: var(--text-color);
  cursor: pointer;
}

.todo-info ul li:hover {
  color: var(--hover-color);
  text-decoration: line-through;
}

.todo-info ul input {
  width: 80%;
  font-family: Verdana, "Noto Sans",  sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--line-color);
  border: solid 2px var(--link-color);
  padding: 0.2em;
}

.todo-utils #undo {
  font-size: 1em;
  float: left;
  margin-left: 1em;
  margin-top: 0.4em;
}

.todo-utils #undo:after {
  font-family: FontAwesome;
  content: '\f0e2';
}

.todo-utils #add {
  font-size: 1em;
  float: right;
  margin-right: 1em;
  margin-top: 0.4em;
}

.todo-utils #add:after {
  font-family: FontAwesome;
  content: '\f067';
}

/* Goals wiget */
main .goals {
  position: absolute;
  top: 55vh;
  left: 2em;
  width: 25vw;
  height: 40vh;
}

.goals-info {
  height: 26vh;
  overflow: auto;
  padding-right: 0.4em;
  padding-top: 1em;
  margin: 0;
  border: solid 2px var(--line-color);
}

.goals-info li {
  padding-bottom: 1.4em; 
  font-size: 1.15em;
  font-family: Verdana, "Noto Sans",  sans-serif;
  color: var(--text-color);
  cursor: pointer;
}

.goals-info li:hover {
  color: var(--hover-color);
  text-decoration: line-through;
}

.goals-info input {
  width: 80%;
  font-family: Verdana, "Noto Sans",  sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--line-color);
  border: solid 2px var(--link-color);
  padding: 0.2em;
}

.goals-utils {
  height: 3vh;
}

.goals-utils #undo {
  font-size: 1em;
  float: left;
  margin-left: 1em;
  margin-top: 0.4em;
}

.goals-utils #undo:after {
  font-family: FontAwesome;
  content: '\f0e2';
}

.goals-utils #add {
  font-size: 1em;
  float: right;
  margin-right: 1em;
  margin-top: 0.4em;
}

.goals-utils #add:after {
  font-family: FontAwesome;
  content: '\f067';
}

/* Day wiget */
main .day {
  position: absolute;
  left: 30vw;
  top: 0;
  width: 60vw;
  height: 50vh;
  border: solid 2px red;
}

/* Habits wiget */
main .habits {
  position: absolute;
  top: 55vh;
  left: 30vw;
  height: 40vh;
  width: 35vw;
}

.habits-info {
  height: 26vh;
  overflow: auto;
  border: solid 2px var(--line-color);
  padding: 0.4em;
}

.habits-info table {
  border-spacing: 0.2em;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}

.habits-info th {
  font-family: Verdana, "Noto Sans",  sans-serif;
  width: 2.5em;
}

.habits-info .head {
  font-family: Verdana, "Noto Sans",  sans-serif;
  font-weight: bold;
  padding-right: 0.4em;
  width: 6em;
}

.habits-info tr {
  height: 2.3em;
}

.habits-info tr .item {
  border: solid 2px var(--line-color);
  height: 2.3em;
  width: 2.3em;
  white-space: nowrap;
  font-family: Verdana, "Noto Sans",  sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.habits-info input {
  margin-top: 0.4em;
  font-family: Verdana, "Noto Sans",  sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--line-color);
  border: solid 2px var(--link-color);
  padding: 0.2em;
}

.habits #add {
  float: right;
  font-size: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.habits #add:after {
  font-family: FontAwesome;
  content: '\f067';
}

.habits #del {
  float: left;
  font-size: 1em;
  margin-top: 1em;
  margin-left: 1em;
}

.habits #del:after {
  font-family: FontAwesome;
  content: '\f1f8';
}

.habits .delete {
  text-decoration: line-through;
  cursor: pointer;
}

.habits .delete:hover {
  color: var(--hover-color);
}

/* Footer */
footer {
  z-index: -1;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1vh;
  color: #808080;
}

footer ul {
  padding-top: 1.8em;
  list-style-type: none;
  margin: 0;
}

footer ul li {
  display: inline;
  margin: 0;
  padding-right: 1.5em;
}

footer .content:before {
  content: '|';
  font-weight: bold;
  padding-right: 1.5em;
}

/* Breakpoints */
@media only screen and (max-width: 400px) {
  p {
    max-width: 95vw;
  }

  .title {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 401px) and (max-width: 850px) {
  p {
    max-width: 80vw;
  }
}

@media only screen and (min-width: 851px) {
}
